duckdb==1.1.3
pandas
streamlit
faker
splink==3.9.15
altair
watchdog
openpyxl
sqlalchemy
pymysql
psycopg2-binary
pypdf
python-docx
requests
yt-dlp
Pillow
pdf2docx
docx2pdf
reportlab
psutil
scikit-learn
matplotlib
